<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YouTube Slicing</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <!-- Video Section -->
        <div class="video-section">
            <div class="video-container">
                <iframe src="https://www.youtube.com/embed/tgbNymZ7vqY" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="video-info">
                <h2>Bohemian Rhapsody | Muppet Music Video | The Muppets</h2>
                <p>182 jt x ditonton  14 tahun yang lalu</p>
            </div>
        </div>

        <!-- Video Thumbnails -->
        <div class="thumbnail-section">
            <h3>Related Videos</h3>
            <div class="thumbnails">
                <a href="" class="thumbnail">
                    <img src="https://i.ytimg.com/an_webp/lIRmHOVGOKE/mqdefault_6s.webp?du=3000&sqp=COnItLcG&rs=AOn4CLAn8EMlOh2FDJLstK_Au4r6SV5JeA" alt="Thumbnail 1">
                    <p>Spongsbob1</p>
                </a>
                <a href="" class="thumbnail">
                    <img src="https://i.ytimg.com/an_webp/U9z-oIHtO6c/mqdefault_6s.webp?du=3000&sqp=CJHTtLcG&rs=AOn4CLA3ZbYryAUjNnSkcJIdOu2DpYkeNQ" alt="Thumbnail 2">
                    <p>Nobita</p>
                </a>
                <a href="" class="thumbnail">
                    <img src="https://i.ytimg.com/an_webp/webDtutoQs8/mqdefault_6s.webp?du=3000&sqp=CPfFtLcG&rs=AOn4CLCwVCmc738TkjjXw9RX2QGe0VDgwA" alt="Thumbnail 3">
                    <p>Spongsbob2</p>
                </a>
                <a href="https://youtu.be/bUxd3jqCr94?si=53IH9C-AimxArVD_   " class="thumbnail">
                    <img src="https://i.ytimg.com/an_webp/EGlLMGUCUos/mqdefault_6s.webp?du=3000&sqp=CIrDtLcG&rs=AOn4CLBxbONPFyq-h6ujq3lSgmobBnHEsg" alt="Thumbnail 4">
                    <p>Green Bean | Mr Bean | Cartoons for Kids | WildBrain Kids</p>
                </a>
            </div>
        </div>
    </div>
</body>
</html>
